.sectionPhrase {
  height: 50vh;
  width: 100%;
  display: grid;
}

.divPhrase {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.divPhrase span {
  font-size: 4rem;
  color: #ff2400;
}

.textPhrase-1 {
  font-size: 0.8rem;
  letter-spacing: 4px;
  font-family: "Playwrite IE", cursive;
  font-optical-sizing: auto;
  font-style: normal;
  text-transform: capitalize;
}

.textPhrase-2 {
  font-size: 0.8rem;
  letter-spacing: 3px;
  font-family: "Playwrite IE", cursive;
  font-optical-sizing: auto;
  font-style: normal;
  text-transform: capitalize;
  color: #ff2400;
}

.textPhrase-3 {
  font-size: 0.8rem;
  letter-spacing: 2px;
  font-family: "Playwrite IE", cursive;
  font-optical-sizing: auto;
  font-style: normal;
  text-transform: capitalize;
}

.textPhrase-4 {
  font-size: 1.1rem;
  letter-spacing: 3px;
  color: #ff2400;
  font-weight: 600;
}

@media screen and (min-width: 1500px) {
  .textPhrase-1 {
    font-size: 1.3rem;
  }

  .textPhrase-2 {
    font-size: 1.2rem;
  }

  .textPhrase-3 {
    font-size: 1.1rem;
  }

  .textPhrase-4 {
    font-size: 1.3rem;
  }
}

@media screen and (max-width: 1000px) {
  .sectionPhrase {
    height: 70vh;
    width: 85vw;
    margin: auto;
  }

  .divPhrase span {
    font-size: 1.5rem;
  }

  .textPhrase-1 {
    font-size: 0.9rem;
  }

  .textPhrase-2 {
    font-size: 0.8rem;
  }

  .textPhrase-3 {
    font-size: 0.7rem;
  }

  .textPhrase-4 {
    font-size: 0.9rem;
  }
}

@media screen and (max-width: 500px) {
  .sectionPhrase {
    height: 50vh;
  }

  .divPhrase {
    gap: 0.5rem;
  }

  .textPhrase-1 {
    font-size: 0.8rem;
  }

  .textPhrase-2 {
    font-size: 0.7rem;
  }

  .textPhrase-3 {
    font-size: 0.65rem;
  }

  .textPhrase-4 {
    font-size: 0.8rem;
  }
}
